<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Meta tags for preview -->
        <meta name="description" content="<%= description %>" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:image" content="<%= meta_image %>" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon">
        <link rel="icon" href="<%= favicon %>" type="image/x-icon">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="root"></div>

        <!-- Bundle JS file -->
        <script src="/dist/lib.bundle.js"></script>
        <script src="<%= APP_BUNDLE_URL %>"></script>
    </body>
</html>
